<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Vincent's Picks</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li ><%= link_to "My Dashboard", user_path(current_user) %></li>
        <li ><%= link_to "Movies", movies_path %></li>
        <li ><%= link_to "Critics", critics_path %></li>
        <li class="logOutButton"><%= link_to "Log Out", logout_path %></li>
      <%else%>
        <li><%= link_to "Log In", login_path %></li><li><%= link_to "Sign Up", signup_path %></li>
      <%end%>
        <li><%= link_to "Who is Vincent?", about_path %></li>
      </ul>
    </div>
  </div>
</nav>
