<div class="well well-md col-md-10 col-md-offset-1">

<h2><%= @movie.name %></h2>
<img src="<%= @movie.thumbnail_url %>"/><br>

<p>Metacritic's Average: <%= @movie.score %></p>
<p>Vincent's Adjusted Score: <%= @user.adjusted_score(@movie) %></p>
  <div id="user-review">
    <% if @user.movies.include?(@movie) %>
      <p> My own rating: <%= @user_review.score %></p>
    <% else %>
      <%= render partial: 'users/reviews/rate_movie', locals: {review: UserReview.new, movie: @movie} %>  
    <% end %>  
  </div>


</div>