<div class="well well-md col-md-10 col-md-offset-1">
<ul class="list-group text-center">
  <li class="list-group-item movie-card movie-card-show" style="display: inline-block; width: 42%; height: 90%; vertical-align:middle;";> <h2><%= @movie.name %></h2>
  <img src="<%= @movie.thumbnail_url %>"/><br>

  <p>Metacritic's Average: <%= @movie.score %></p>
  <p>Vincent's Adjusted Score: <%= @adjusted_score %></p>
  <% if !@user.movies.include?(@movie) %>
    <p><i>Total # of critics weighed into Vincent's average:</i><br> <%= @critics.size %> of <%= @movie.reviews.size %> total reviews</p> 
  <% end %>
    <div id="user-review">
      <% if @user.movies.include?(@movie) %>
        <%= render partial: 'users/reviews/rated_movie', locals: {:user => @user, :user_review => @user_review} %>
      <% else %>
        <%= render partial: 'users/reviews/rate_movie', locals: {review: UserReview.new, movie: @movie} %>  
      <% end %>  
    </div></li>
   <li class="list-group-item movie-card movie-card-show text-left" style="display: inline-block; width: 42%; height: 90%; vertical-align:middle;";> 
  <h3>Featured Review</h3>
    <p>By: <%= link_to @featured_review.critic.name_show, critic_path(@featured_review.critic) %>, <%= @featured_review.publication.name %> (<%= @top_critic_similarity_score %>% similarity score)</p>
    <p>Metacritic Score: <%= @featured_review.score %></p>
    <p>Excerpt: <%= @featured_review.excerpt %></p>
    <p><%= link_to "Full Text of Review", @featured_review.link, :target=>"blank" %></p>
    </li>
</ul>    
</div>