<!DOCTYPE html>
<html>
<head>
  <title>Vincent's Picks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<%= render "shared_partials/navbar" %>
<%= yield %>

</body>
</html>